<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RezolveFramework">
  <test name="RezolveTriggers">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="Rezolve.TestCases.TC_Trigger_Image"/>

    </classes>
  </test> <!-- RezolveFramework -->
</suite>